<ion-header>
  <ion-toolbar>
    <ion-title>Tambah Produk</ion-title>
    <ion-back-button slot="start" defaultHref="/admin"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="tambahBarang">
    <ion-item>
      <ion-label position="stacked">URL Foto</ion-label>
      <ion-input type="text" formControlName="foto" placeholder="Input URL Foto barang"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label>Jenis Barang</ion-label>
      <ion-select [(ngModel)]="tipe" formControlName="tipe" interface="popover">
        <ion-select-option value="CPU">Prosesor</ion-select-option>
        <ion-select-option value="RAM">RAM</ion-select-option>
        <ion-select-option value="Motherboard">Motherboard</ion-select-option>
        <ion-select-option value="GPU">GPU</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Merek</ion-label>
      <ion-input type="text" formControlName="merek" placeholder="Input Merek barang"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Model</ion-label>
      <ion-input  type="text" formControlName="model" placeholder="Input Model barang"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Harga</ion-label>
      <ion-input type="text" formControlName="harga" placeholder="1234567890">Rp. </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Stok</ion-label>
      <ion-input  type="text" formControlName="stok" placeholder="Input Stok barang"></ion-input>
    </ion-item>
    <ion-item *ngIf="tipe === 'CPU'">
      <ion-label position="stacked">Base Clock</ion-label>
      <ion-input  type="text" formControlName="base_clock" placeholder="0.0"></ion-input>
      <h4 slot="end">Ghz</h4>
    </ion-item>
    <ion-item *ngIf="tipe === 'CPU'">
      <ion-label position="stacked">Boost Clock</ion-label>
      <ion-input  type="text" formControlName="boost_clock" placeholder="0.0"></ion-input>
      <h4 slot="end">Ghz</h4>
    </ion-item>
    <ion-item *ngIf="tipe === 'CPU'">
      <ion-label position="stacked">Jumlah Core</ion-label>
      <ion-input  type="text" formControlName="core" placeholder="0"></ion-input>
    </ion-item>
    <ion-item *ngIf="tipe === 'CPU'">
      <ion-label position="stacked">Jumlah Thread</ion-label>
      <ion-input  type="text" formControlName="thread" placeholder="0"></ion-input>
    </ion-item>

    <ion-item *ngIf="tipe === 'RAM'">
      <ion-label position="stacked">Speed</ion-label>
      <ion-input  type="text" formControlName="speed" placeholder="0.0"></ion-input>
      <h4 slot="end">Mhz</h4>
    </ion-item>
    <ion-item *ngIf="tipe === 'RAM'">
      <ion-label position="stacked">Ukuran</ion-label>
      <ion-input  type="text" formControlName="ukuran" placeholder="0"></ion-input>
      <h4 slot="end">GB</h4>
    </ion-item>

    <ion-item *ngIf="tipe === 'Motherboard'">
      <ion-label position="stacked">Chipset</ion-label>
      <ion-input  type="text" formControlName="chipset" placeholder="Input Chipset Motherboard"></ion-input>
    </ion-item>
    <ion-item *ngIf="tipe === 'Motherboard'">
      <ion-label position="stacked">Prosesor Compatible</ion-label>
      <ion-input  type="text" formControlName="prosesor" placeholder="Input Motherboard Prosesor Compatibilty"></ion-input>
    </ion-item>

    <ion-button [disabled]="tambahBarang.invalid" expand="full" (click)=tambah()>Selesai</ion-button>
  </form>

</ion-content>
