<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>
     Home
    </ion-title>
    <ion-buttons slot="end">
    <ion-button slot="end" *ngIf="displayMode === 1" (click)="onDisplayModeChange(2)">
      <ion-icon name="grid"></ion-icon>  
    </ion-button>
    <ion-button slot="end" *ngIf="displayMode === 2" (click)="onDisplayModeChange(1)">
      <ion-icon name="list"></ion-icon>
    </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list fixed *ngIf="displayMode === 1">
    <div *ngFor="let home of barang" >
      <ion-item *ngIf="home.stok!='0'" [routerLink]="['./', home.id]">
        <ion-thumbnail slot="start">
          <ion-img [src]="home.foto"></ion-img>
        </ion-thumbnail>
        <ion-label>
          <h3>{{ home.merek}} {{home.model}}</h3>
          <p>{{ home.harga | currency:"Rp ":true:"1.0" }}</p>
          <p>Tersedia {{home.stok}}</p>
        </ion-label>
      </ion-item>
    </div>
  </ion-list>

  <ion-grid  *ngIf="displayMode === 2">
    <ion-row>
      <ng-container *ngFor="let home of barang" >
       <ion-col fixed *ngIf="home.stok != '0'" size="6" size-ig="3" [routerLink]="['./', home.id]">
        <ion-card>
          <ion-img [src]="home.foto"></ion-img>
          <ion-card-header>
            <ion-card-title>{{ home.merek + " " + home.model }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-label>
              <p>{{ home.harga | currency:"Rp ":true:"1.0" }}</p>
              <p>{{ "Tersedia: " + home.stok }}</p>
            </ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ng-container>
    </ion-row>
  </ion-grid>
  
</ion-content>
